/*
Theme Name: GeekMovie V1
Author: ANTHOANTON
Author URI: https://geeksyst.com
Description: GeekMovie responsive HTML5 theme whith MDB
Version: 1.0
*/

body {
  overflow-x:hidden; }

main {
  margin-top: 80px;}

.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f) !important;
  background: -o-linear-gradient(50deg, #45cafc, #303f9f) !important;
  background: linear-gradient(40deg, #45cafc, #303f9f) !important; }

.card-comments img {
  width: 4rem; }

.card-intro {
  margin-top: 67px; }
  .card-intro .card-body {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important; }

.pagination .page-item.active .page-link {
  background-color: #09c; }

.card-avatar img {
  width: 100px; }

.navbar-brand img {
  width: 40px !important;
  height: 40px !important; }


.bg-colorr p{
  padding: 10px; }

.bg-colorr ul{
  list-style:none;
  padding: 10px; }

.footer-widget ul{
  list-style:none;
  padding: 0; }

.tagcloud {
  padding: 2; }

.tagcloud a{
  margin-left: 5px; }

.bg-colorr {
  opacity:0.7;
  background-color: #fff !important; }

.breadcrumb{
   opacity:0.7;
  background-color: #fff !important; }
